/* GLOBAL STYLES */
body {
	font-family: $pff;
    color: $sc;
    background-color: #fff;
}

button {
    background-color: $pcd;
    text-transform: uppercase;
    color: #fff;
	border: 0 none;
    font-weight: 900;
	height: 47px;
	line-height: 50px;
	-webkit-transition: all 0.3s ease 0s;
	transition: all 0.3s ease 0s;
}

button:hover,
button:focus    {
    background-color: $ac;
}

.wrapper {  
    max-width: 1080px;
    margin: 0 auto;
    width: 90%;
}


/* TYPOGRAPHY */

body {
    font-size: 1.8rem;
    color: $pc;
    line-height: 1.5;
}

h1, h2, h3, h4 {
    font-weight: 400;
    color: $sc;
    text-transform:uppercase;
    font-family: $sff;
}

h3 {
    line-height: 4rem;
}

ul {
    list-style: none;
}

section {
    margin: 100px 0 100px 0;
}


/* LINK STYLES */

.nav__link {
    font-size: 1.8rem;
    cursor: pointer;
    letter-spacing: 1.8px;
    line-height: 40px;
    position: relative;
    text-transform: uppercase;
    line-height: 1;
    text-decoration: none;
    color: $pc;
    transition: .2s;
    &:hover,
    &:focus {
        transform: scale(1.1);
    }
}

.link {
    text-align: center;
    text-decoration: none;
    background-color: #393939;
    text-transform: uppercase;
    color: #fff;
    padding: 10px 25px;
	-webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    &:hover,
    &:focus {
        background-color: $ac;
    }
}

.link--active {
    z-index: -1;
    position: absolute;
    font-size: 7rem;
    color: $ac;
    animation: color-shift 1.5s infinite;
}


/* SECTION TITLE */

.section__title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 200px 0 75px 0;
    h2 {
        font-size: 4.5rem;
        font-weight: 700;
    }
}

.bottom {
    background: $ac none repeat scroll 0 0;
    height: 2px;
    margin: 5px auto 40px auto;
    width: 77px;
}
  
  .top {
    background: $ac none repeat scroll 0 0;
    height: 2px;
    margin: 0px auto;
    width: 44px;
}


/* HEADER */

.background {
    padding-bottom: 80px;
    position: relative;
    z-index: 1;
    overflow: hidden;
    min-height: 100vh;
    &:after {
        z-index: -1;
        width: 150vw;
        height: 150vh;
        position: absolute;
        content: '';
        z-index: -10;
        bottom: 0%;
        background: linear-gradient(to top, rgb(255, 255, 255), rgba(255, 255, 255, 0.63), rgb(255, 255, 255)), url(../../assets/images/3440061.jpg) center;
        background-size: cover;
        background-position: right;
        transform: rotate(185deg);
        animation: rotate 100s infinite;
    }
    &::before {
        width: 150vw;
        height: 150vh;
        position: absolute;
        content: '';
        z-index: -1;
        position: absolute;
        background: rgba(255, 255, 255, 0.021);
    }
}

.header {
    display: flex;
    flex-direction: column;
    padding-top: 30px;
    position: relative;
    &__link {
        position: relative;
        margin-left: 40px;
        display: flex;
        flex-direction: column;
        align-items: center;
        z-index: 10;
    }
    &__link--active {
        position: absolute;
        display: none;
        bottom: 5px;
    }
    &__top {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    &__logo {
        font-size: 5rem;
        span {
            font-size: 8rem;
            line-height: 1rem;
            color: $ac;
            animation: color-shift 1.5s infinite;
        }
    }
    &__mobile-icon-container {
        display: none;
        background: none;
        &:hover,
        &:focus {
            background: none;
        }
    }
    &__social-icons {
        i {
            color: #fff;
            font-size: 3.2rem;
            transition: 0.2s;
            color: #5c5c5c;
            &:hover,
            &:focus {
                transform: scale(1.3);
                color:$ac;
            }
        }
    }
    &__icons {
        display: flex;
        justify-content: flex-end;
        margin-top: 10px;
        a {
            margin-left: 40px;
        }
    }
    &__social-icons-mobile {
        display: none;
        margin: 20px 0;
        i {
            margin: 0 20px;
        }
    }
    &__mobile-icon {
        font-size: 3rem;
        color: $sc;
    }
    &__mobile-icon--active {
        font-size: 3rem;
        color: $ac;
    }
    &__list {
        display: flex;
    }
    &__profile {
        display: flex;
        justify-content: space-around;
        margin-top: 225px;
        padding: 25px 0;
        position: relative;
        &:before {
            content: '';
            display: block;
            position: absolute;
            width: 80%;
            height: 120%;
            top: -10%;
            left: 10%;
            background: linear-gradient(to right, rgba(114, 114, 114, 0.13), #00000000);
        }
    }
    &__text {
        z-index: 2;
        width: 45%;
        h1 {
            font-size: 4.6rem;
            font-weight: 700;
            color:$pcd;
            line-height: 5rem;
            margin-bottom: 5px;
        }
        p {
            margin-bottom: 30px;
        }
        a {
            margin-top: 8px;
            display: inline-block;
        }
     
    }
    &__titles {
        margin-bottom: 25px;
        h4 {
            line-height: 3rem;
            font-size: 2.5rem;
            color: $ac;
        }
    }
    &__img {
        z-index: 2;
        width: 40%;
        transition: 0.5s;
        img {
            width: 100%;
            height: auto;
        }
    }
}

.fa-chevron-down {
    position: absolute;
    left: calc(50% - 21.85px);
    font-size: 5rem;
    color: $ac;
    animation: bounce .5s ease-in-out infinite alternate;
}


/* SKILLS */

.skills {
    background-image: url(../../assets/images/3440061.jpg);
    background-image: linear-gradient(to bottom, rgb(255, 255, 255), rgba(255, 255, 255, 0.651), rgb(255, 255, 255)),url(../../assets/images/3440061.jpg);
    background-position: bottom right;
    &__container {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
    &__item {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 20%;
        margin: 30px;
        transition: 0.4s;
        &:hover {
            transform: scale(1.2);
        }
        i {
            font-size: 6rem;
            color: $sc;
            transition: 0.4s;
            &:hover {
                color: black;
            }
        }
        p {
            color: black;
            margin-top: 10px;
            text-align: center;
        }
    }
}


/* PORTFOLIO */

.portfolio {
    background-image: url(../../assets/images/3440061.jpg);
    background-image: linear-gradient(to bottom, rgb(255, 255, 255), rgba(255, 255, 255, 0.712), rgb(255, 255, 255)),url(../../assets/images/3440061.jpg);
    background-position: bottom right;
    overflow: hidden;
}

.project {
    display: flex;
    justify-content: space-around;
    padding: 40px 0;
    margin: 60px 0;
    &__weather-sense-logo {
        width: 300px;
    }
    &__guitar-chords-logo {
        width: 300px;
    }
    &__mixologie-logo {
        width:  250px;
        margin-bottom: -15px;
    }
    &__trivia-time-logo {
        width: 100px;
        margin-bottom: 10px;
    }
    &__music-notes-logo {
        width: 350px;
    }
    &__img {
        width: 45%;
        box-shadow: 1px 1px 15px rgba(0, 0, 0, 0.644);
        img {
            width: 100%;
            transition: 0.5s;
        }   
    }
    &__text {
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 50%;
        h3 {
            font-size: 4rem;
            font-weight: bold;
            margin-bottom: 5px;
            color: $sc;
        }
        h4 {
            color: $ac
        }
        p {
            margin: 10px 0;
        }
    }
    &__text-right {
        text-align: right;
        &:before {
            z-index: -1;
            content: '';
            display: block;
            position: absolute;
            width: 80%;
            height: 100%;
            top: 0%;
            left: 8%;
            background: linear-gradient(to left, rgba(114, 114, 114, 0.13), #00000000);
        }
    }
    &__text-left {
        &:before {
            z-index: -1;
            content: '';
            display: block;
            position: absolute;
            width: 80%;
            height: 100%;
            top: 0%;
            right: 8%;
            background: linear-gradient(to right, rgba(114, 114, 114, 0.13), #00000000);
        }
    }
    &__links {
        margin-top: 20px;
        a:first-child {
            margin-right: 10px;
        }
    }
}


/* CONTACT */

.contact {
    background-image: url(../../assets/images/3440061.jpg);
    background-image: linear-gradient(to bottom, rgb(255, 255, 255), rgba(255, 255, 255, 0.274), rgb(255, 255, 255)),url(../../assets/images/3440061.jpg);
    background-position: bottom;
    &__text {
        margin: 0 auto;
        width: 75%;
        p {
            margin: 10px 0;
        }
        p:last-child {
            margin-top: 50px;
        }
        a {
        color: $ac;
        text-decoration: none;
        }
        a:hover {
            color: black;
        }
    }
}


/* FOOTER */

footer {
    background-color: $sc;
}

.footer {
    display: flex;
    flex-direction: column;
    padding-top: 40px;
    margin-top: 250px;
    position: relative;
    &__social {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    &__logo {
        color: #fff;
        font-size: 4rem;
        span {
            color: $ac;
            font-size: 8rem;
            line-height: 1rem;
            animation: color-shift 1.5s infinite;
        }
    }
    &__nav-container {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 15px;
        
    }   
    &__list {
        display: flex;
        margin-bottom: 35px;
    }
    &__link {
        position: relative;
        z-index: 10;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 25px;
        a {
            letter-spacing: 1.8px;
            color: #fff;
        }
    }
    &__link--active {
        position: absolute;
        display: none;
        bottom: 5px;
    }
    &__icons {
        display: flex;
        a {
            margin-left: 40px;
        }
        i {
            color: #fff;
            font-size: 3rem;
            transition: 0.2s;
            &:hover,
            &:focus {
                transform: scale(1.3);
                color:$ac;
            }
        }
    }
    &__text {
        display: flex;
        justify-content: center;
        margin-top: 25px;
        padding: 10px;
        background: black;
        p {
            color: #fff;
            font-size: 1.5rem;
        }
    }
}


/* ANIMATIONS*/

@keyframes color-shift{
    0%{     color: #208307; }
    20%{    color: #5dc742; }
    40%{    color: #92f579; }
    60%{    color: #5dc742; }
    80%{    color: #5bb445; }
    100%{   color: #208307; }
}

@keyframes rotate {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }

@keyframes bounce {
    from {
      top:
      93vh
    }
    to {
    top: 92vh
    }
  }
