/* GLOBAL STYLES */

body {
	font-family: 'Poppins', sans-serif;
    color: #4f4f4f;
    background-color: #fff;
}

button {
    background-color: #393939;
    text-transform: uppercase;
    color: #fff;
	border: 0 none;
    font-size: 18px;
    font-weight: 900;
	height: 47px;
	line-height: 50px;
	-webkit-transition: all 0.3s ease 0s;
	transition: all 0.3s ease 0s;
}

button:hover,
button:focus    {
    background-color: #35961d;
}

section {
    padding: 50px 0;
}

.wrapper {  
    max-width: 1080px;
    margin: 0 auto;
    width: 80%;
}

.bg-color-1 {
	background: #f5f5f5 none repeat scroll 0 0;
}

.light-bg {
	background: #ffffff none repeat scroll 0 0;
}

/* TYPOGRAPHY */

body {
    font-size: clamp(1.4rem, 1.6vw, 1.8rem);
    color: #5c5c5c;
    line-height: 1.4;
}

h1, h2, h3, h4 {
    font-weight: 400;
    color: #4f4f4f;
    text-transform:uppercase;
    font-family: 'Montserrat', sans-serif;
}

/* LINK STYLE */

ul {
    list-style: none;
}

.nav__link {
    font-size: clamp(1rem, 1.8vw, 2rem);
    cursor: pointer;
    letter-spacing: 1.8px;
    line-height: 40px;
    position: relative;
    padding: 0 5px;
    text-transform: uppercase;
    line-height: 1;
    text-decoration: none;
    &:after {
        background: #208307 none repeat scroll 0 0;
        content: "";
        height: 2px;
        left: 0;
        margin-top: -1px;
        -webkit-margin-before: -2px;
        position: absolute;
        top: 50%;
        -webkit-transition: all 0.3s ease 0s;
        transition: all 0.3s ease 0s;
        width: 0;
    }
    &:hover,
    &:focus {
        color: #afafaf;
    }
    &:hover:after,
    &:focus:after {
        width: 100%;
    }
}

.link {
    text-align: center;
    text-decoration: none;
    background-color: #393939;
    text-transform: uppercase;
    color: #fff;
    margin-top: 10px;
    padding: 8px 20px;
	-webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    &:hover,
    &:focus {
        background-color: #5bb445;
    }
}

/* SECTION TITLE */

.section__title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 30px;
    h2 {
        font-size: clamp(2.3rem, 3.5vw, 4.5rem);
        font-weight: 700;
        padding-bottom: 5px;
    }
}

.bottom {
    background: #35961d none repeat scroll 0 0;
    height: 2px;
    margin: 5px auto;
    width: 77px;
  }
  
  .top {
    background: #35961d none repeat scroll 0 0;
    height: 2px;
    margin: 18px auto;
    width: 44px;
  }

/* HEADER */

header {
    padding-bottom: 80px;
    position: relative;
    z-index: 1;
    height: 100vh;
    overflow: hidden;
    &::after {
        width: 100vw;
        height: 100vh;
        position: absolute;
        background: url("http://placekitten.com/800/1200");
        background-size: cover;
        content: '';
        z-index: -1;
        bottom: 20%;
        position: absolute;
        background: url(../../assets/images/3440061.jpg) center;
        box-shadow: inset 200px 100px 40px 0px rgb(255, 255, 255), 
        inset -200px -100px 100px 0px rgb(255, 255, 255), 
        inset 20px -10px 100px 0px white, 
        inset -200px 300px 100px 0px white;
        background-position: right;
        animation: rotate 10s infinite;
        -webkit-animation: rotate 70s infinite;
    }
}

@keyframes rotate {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 30px;
    &__logo {
        font-size: clamp(4rem, 3vw, 6rem);
        span {
            color: #208307;
            font-size: clamp(6rem, 5vw, 9rem);
            animation: color-shift 1.5s infinite;
        }
    }
    &__mobile-icon-container {
        display: none;
        background: none;
        &:hover,
        &:focus {
            background: none;
        }
    }
    &__mobile-icon {
        font-size: 30px;
        color: #4f4f4f;
    }
    &__mobile-icon--active {
        font-size: 30px;
        color: #208307;
    }
    &__list {
        display: flex;
    }
    &__link {
        margin-left: 25px;
        a {
            color: #393939;
        }
    }
    &__profile {
        display: flex;
        justify-content: space-around;
        align-items: center;
        margin-top: 80px;
    }
    &__text {
        text-align: center;
        h1 {
            font-size: clamp(3rem, 4vw, 6rem);
            font-weight: 700;
            color: #393939;
        }
        h4 {
            font-size: clamp(2.8rem, 3vw, 5rem);
            margin: 5px 0 25px 0;
            color: #208307;
        }
    }
    &__img {
        width: 30%;
        box-shadow: 5px 5px 5px #4f4f4f;
        transition: 0.5s;
        &:hover {
            box-shadow: 5px 5px 5px #141414;
        }
        img {
            width: 100%;
            height: auto;
        }
    }
}

/* ANIMATIOM */

@keyframes color-shift{
    0%{     color: #208307; }
    20%{    color: #5dc742; }
    40%{    color: #9dff84; }
    60%{    color: #5dc742; }
    80%{    color: #5bb445; }
    100%{   color: #208307; }
}

/* ABOUT ME */

.about {
    @include background(bottom left);
    padding-top: 80px;
    &__container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    &__text-container {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-top: 40px;
        p {
            margin-bottom: 20px;
        }
    }
    &__text {
        width: 80%;
    }
    &__link-container {
        margin-top: 40px;
    }
}

/* SKILLS */

.skills {
    background-image: url(../../assets/images/3440061.jpg);
    background-image: linear-gradient(to bottom, rgb(255, 255, 255), rgba(255, 255, 255, 0.651), rgb(255, 255, 255)),url(../../assets/images/3440061.jpg);
    background-position: bottom right;
    &__title {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    &__container {
        padding: 25px 0;
        margin-top: 10px;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
    &__item {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 20%;
        margin: 30px;
        transition: 0.4s;
        &:hover {
            transform: scale(1.2);
        }
        i {
            font-size: clamp(7rem, 8vw, 10rem);
            color: #4f4f4f;
            transition: 0.4s;
            &:hover {
                color: #141414;
            }
        }
        p {
            color: black;
            margin-top: 10px;
            text-align: center;
        }
    }
}

/* PORTFOLIO */

.portfolio {
    @include background(left);
}


.project {
    display: flex;
    justify-content: space-around;
    background-color: rgba(255,255,255, 0.8);
    width: 100%;
    padding: 40px 0;
    margin: 30px 0;
    &__img {
        width: 40%;
        img {
            width: 100%;
            transition: 0.5s;
        }   
    }
    &__text {
        display: flex;
        flex-direction: column;
        width: 55%;
        h3 {
            font-size: clamp(2.5rem, 2.2vw, 3.5rem);
            font-weight: bold;
            margin-bottom: 5px;
            color: rgb(58, 58, 58);
        }
        h4 {
            color: #208307
        }
        p {
            margin-top: 20px;
        }
    }
    &__text--right {
        text-align: right;
    }
    &__links {
        margin-top: 20px;
        a:first-child {
            margin-right: 10px;
        }
    }
}

/* CONTACT */

.contact {
    display: flex;
    margin-top: 40px;
    &__text {
        display: flex;
        flex-direction: column;
        width: 50%;
        margin-right: 40px;
        a {
            color: #4f4f4f;
        margin-top: 20px;
        transition: 0.5s;
        }
        a:hover {
            transform: scale(1.1);
        }
    }
    &__form-container {
        width: 50%;    
    }
    &__form {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        input {
            width: 100%;
            border: 2px solid black;
            padding: 10px;
        }
        input[type=email] {
            margin-top: 15px;
        }
        input::placeholder {
            font-family: 'Poppins', sans-serif;
        }
        textarea {
            width: 100%;
            margin-top: 15px;
            border: 2px solid black;
            padding: 10px;
        }
        textarea::placeholder {
            font-family: 'Poppins', sans-serif;
        }
        button {
            width: 50%;
            margin-top: 20px;
        }
    }
}

/* FOOTER */

footer {
    background-color: #4f4f4f;
}

.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 40px;
    &__logo {
        color: #fff;
        font-size: clamp(4rem, 3vw, 6rem);
        span {
            color: #208307;
            animation: color-shift 1.5s infinite;
        }
    }
    &__nav-container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 70%;
    }
    &__list {
        display: flex;
    }
    &__link {
        margin-left: 25px;
        a {
            padding: 0 10px;
            letter-spacing: 1.8px;
            position: relative;
            color: #fff;
        }
    }
    &__icons {
        display: flex;
        i {
            color: #fff;
            font-size: 30px;
            margin-left: 20px;
            transition: 0.2s;
            &:hover,
            &:focus {
                transform: scale(1.3);
                color:#5bb445;
            }
        }
    }
    &__text {
        display: flex;
        justify-content: center;
        margin-top: 25px;
        padding: 10px;
        background: black;
        p {
            color: #fff;
            font-size: calc(.5rem + .5vw);
        }
    }
}
