/* GLOBAL STYLES */
body {
	font-family: 'Poppins', sans-serif;
    color: #4f4f4f;
    background-color: #fff;
}

button {
    background-color: #393939;
    text-transform: uppercase;
    color: #fff;
	border: 0 none;
    font-weight: 900;
	height: 47px;
	line-height: 50px;
	-webkit-transition: all 0.3s ease 0s;
	transition: all 0.3s ease 0s;
}

button:hover,
button:focus    {
    background-color: #35961d;
}

section {
    margin: 200px 0;
}

.wrapper {  
    max-width: 1080px;
    margin: 0 auto;
    width: 90%;
}

.bg-color-1 {
	background: #f5f5f5 none repeat scroll 0 0;
}

.light-bg {
	background: #ffffff none repeat scroll 0 0;
}

/* TYPOGRAPHY */

body {
    font-size: 2rem;
    color: #5c5c5c;
    line-height: 1.5;
}

h1, h2, h3, h4 {
    font-weight: 400;
    color: #4f4f4f;
    text-transform:uppercase;
    font-family: 'Montserrat', sans-serif;
}

/* LINK STYLE */

ul {
    list-style: none;
}

.nav__link {
    font-size: 1.8rem;
    margin-left: 40px;
    cursor: pointer;
    letter-spacing: 1.8px;
    line-height: 40px;
    position: relative;
    text-transform: uppercase;
    line-height: 1;
    text-decoration: none;
    &:after {
        background: #208307 none repeat scroll 0 0;
        content: "";
        height: 2px;
        left: 0;
        margin-top: -1px;
        -webkit-margin-before: -2px;
        position: absolute;
        top: 50%;
        -webkit-transition: all 0.3s ease 0s;
        transition: all 0.3s ease 0s;
        width: 0;
    }
    &:hover,
    &:focus {
        color: #afafaf;
    }
    &:hover:after,
    &:focus:after {
        width: 100%;
    }
}

.link {
    text-align: center;
    text-decoration: none;
    background-color: #393939;
    text-transform: uppercase;
    color: #fff;
    padding: 10px 25px;
	-webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    &:hover,
    &:focus {
        background-color: #208307;
    }
}

/* SECTION TITLE */

.section__title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
    h2 {
        font-size: 4rem;
        font-weight: 700;
    }
}

.bottom {
    background: #35961d none repeat scroll 0 0;
    height: 2px;
    margin: 5px auto 40px auto;
    width: 77px;
  }
  
  .top {
    background: #35961d none repeat scroll 0 0;
    height: 2px;
    margin: 18px auto;
    width: 44px;
  }

/* HEADER */

.background {
    padding-bottom: 80px;
    position: relative;
    z-index: 1;
    overflow: hidden;
    height: 100vh;
    &::after {
        width: 130vw;
        height: 120vh;
        position: absolute;
        background-size: cover;
        content: '';
        z-index: -1;
        bottom: -5%;
        position: absolute;
        background: url(../../assets/images/3440061.jpg) center;
        background-repeat: none;
        background-size: cover;
        box-shadow: inset 10px 100px 1000px 100px rgb(255, 255, 255), 
        inset -200px -100px 100px 0px rgb(255, 255, 255), 
        inset -100px -10px 100px 0px white, 
        inset -200px 100px 100px 0px white;
        background-position: right;
        animation: rotate 100s infinite;
        -webkit-animation: rotate 120s infinite;
    }
}

@keyframes rotate {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }

.header {
    display: flex;
    flex-direction: column;
    padding-top: 30px;
    &__top {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    &__logo {
        font-size: 5rem;
        span {
            font-size: 5rem;
            color: #208307;
            animation: color-shift 1.5s infinite;
        }
    }
    &__mobile-icon-container {
        display: none;
        background: none;
        &:hover,
        &:focus {
            background: none;
        }
    }
    &__icons {
        display: flex;
        justify-content: flex-end;
        margin-top: 10px;
        a {
            margin-left: 40px;
        }
        i {
            color: #fff;
            font-size: 3.2rem;
            transition: 0.2s;
            color: black;
            &:hover,
            &:focus {
                transform: scale(1.3);
                color:#5bb445;
            }
        }
    }
    &__mobile-icon {
        font-size: 3rem;
        color: #4f4f4f;
    }
    &__mobile-icon--active {
        font-size: 3rem;
        color: #208307;
    }
    &__list {
        display: flex;
    }
    &__profile {
        display: flex;
        justify-content: space-around;
        align-items: center;
        margin-top: 200px;
        padding: 25px 0;
        background-color: rgba(197, 196, 186, 0.11);
    }
    &__text {
        width: 45%;        
        h1 {
            font-size: 4.8rem;
            font-weight: 700;
            color: #393939;
        }
        h4 {
            line-height: 3rem;
            font-size: 2.5rem;
            color: #208307;
        }
        p {
            margin-top: 25px;
        }
    }
    &__titles {
        margin-top: -10px;
    }
    &__img {
        width: 40%;
     
        transition: 0.5s;
        &:hover {
            box-shadow: 5px 5px 5px #141414;
        }
        img {
            width: 100%;
            height: auto;
        }
    }
    &__links-container {
        display: flex;
        margin: 75px auto 0 auto;
        justify-content: space-around;
        width: 350px;
    }
    &__link {
        a {
            color: #393939;
        }
    }
}

/* ANIMATIOM */
@keyframes color-shift{
    0%{     color: #208307; }
    20%{    color: #5dc742; }
    40%{    color: #9dff84; }
    60%{    color: #5dc742; }
    80%{    color: #5bb445; }
    100%{   color: #208307; }
}

/* SKILLS */

.skills {
    background-image: url(../../assets/images/3440061.jpg);
    background-image: linear-gradient(to bottom, rgb(255, 255, 255), rgba(255, 255, 255, 0.651), rgb(255, 255, 255)),url(../../assets/images/3440061.jpg);
    background-position: bottom right;
    &__container {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
    &__item {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 20%;
        margin: 30px;
        transition: 0.4s;
        &:hover {
            transform: scale(1.2);
        }
        i {
            font-size: 6rem;
            color: #4f4f4f;
            transition: 0.4s;
            &:hover {
                color: #141414;
            }
        }
        p {
            color: black;
            margin-top: 10px;
            text-align: center;
        }
    }
}

/* PORTFOLIO */

.portfolio {
    background-image: url(../../assets/images/3440061.jpg);
    background-image: linear-gradient(to bottom, rgb(255, 255, 255), rgba(255, 255, 255, 0.651), rgb(255, 255, 255)),url(../../assets/images/3440061.jpg);
    background-position: bottom right;
}

.project {
    display: flex;
    justify-content: space-around;
    background-color: rgba(216, 207, 207, 0.171);
    width: 100%;
    padding: 40px 0;
    margin: 40px 0;
    &__weather-sense-logo {
        width: 350px;
    }
    &__guitar-chords-logo {
        width: 350px;
    }
    &__mixologie-logo {
        width:  300px;
        margin-bottom: -15px;
    }
    &__trivia-time-logo {
        width: 100px;
        margin-bottom: 10px;
    }
    &__img {
        width: 40%;
        img {
            width: 100%;
            transition: 0.5s;
        }   
    }
    &__text {
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 55%;
        h3 {
            font-size: 4rem;
            font-weight: bold;
            margin-bottom: 5px;
            color: rgb(58, 58, 58);
        }
        h4 {
            color: #208307
        }
        p {
            margin: 10px 0;
        }
    }
    &__text--right {
        text-align: right;
    }
    &__links {
        margin-top: 20px;
        a:first-child {
            margin-right: 10px;
        }
    }
}

/* CONTACT */

.contact {
    display: flex;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    &__text {
        p {
            margin: 80px 0 50px 0;
        }
        a {
        color: black;
        transition: 0.5s;
        }
        a:hover {
            transform: scale(3);
        }
    }
}

/* FOOTER */

footer {
    background-color: #4f4f4f;
}

.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 40px;
    &__logo {
        color: #fff;
        font-size: 4rem;
        span {
            color: #208307;
            animation: color-shift 1.5s infinite;
        }
    }
    &__nav-container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 70%;
    }
    &__list {
        display: flex;
    }
    &__link {
        margin-left: 25px;
        a {
            padding: 0 10px;
            letter-spacing: 1.8px;
            position: relative;
            color: #fff;
        }
    }
    &__icons {
        display: flex;
        i {
            color: #fff;
            font-size: 3rem;
            margin-left: 20px;
            transition: 0.2s;
            &:hover,
            &:focus {
                transform: scale(1.3);
                color:#5bb445;
            }
        }
    }
    &__text {
        display: flex;
        justify-content: center;
        margin-top: 25px;
        padding: 10px;
        background: black;
        p {
            color: #fff;
            font-size: 1.5rem;
        }
    }
}