
@media (max-width: 870px) {

    .project-container {
        flex-direction: column;
        margin: 75px 0;
        .project-text {
            width: 100%;
            margin: 15px 10px;
            h3 {
                margin-top: 15px;
            }
            p {
                margin-bottom: 15px;
            }
        }

        .text-right {
            margin-left: 0;
            text-align: center;
        }

        .text-left {
            margin-right: 0;
            text-align: center;
        }
    }  
    
    .footer-container {
        flex-direction: column;
    }

    .footer-nav-container {
        order: 1;
        margin-top: 25px;
    }   

    .social-icons-container { 
        i {
            margin: 20px;
        }
    }
}

/* Landscape phone to portrait tablet */
@media (max-width: 768px) {

    /* Portfolio 
    -------------------*/

    header {
        padding-bottom: 40px;

    }

    .header-profile {
        flex-direction: column;
    }

    .header-link-container {
        margin-top: 20px;
        text-align: right;
    }

    .header-about-text {
        display: flex;
        flex-direction: column;
        width: 100%;
        margin: 0;
        h1 {
            text-align: center;
        }
        h4 {
            margin-top: 5px;
            text-align: center;
        }
    }

    .header-button-container {
        display: flex;
        justify-content: flex-end;
        margin-top: 30px;
    }

    .header-img-container {
        margin-top: 50px;
        width: 75%;
    }
}

/* Landscape phones and down */
@media (max-width: 640px) {
    
    header {
        background-position: right;
    }

    .header-mobile-container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
    }

    .header-container {
        flex-direction: column;
    }

    .header-link-container {
        margin-top: 10px;
    }

    .mobile-nav {
        display: block;
    }

    .main-nav {
        display: none;
        width: 100%;
        justify-content: center;
    }

    .main-nav ul {
        margin-top: 10px;
        position: absolute;
    }

    .about-me-container {
        flex-direction: column;
        justify-content: center;
    }

    .about-me-text-container {
        width: 100%;
    }

    .about-me-text {
        margin-bottom: 10px;
        padding-right: 0;
        p {
            margin: 30px 0;
        }
    }

    .about-me-button-container {
        width: 100%;
        display: flex;
        justify-content: center;
    }

    .contact-section-container {
        flex-direction: column;
    }

    .contact-text-container {
        width: 100%;
        margin: 20px 0;
        align-items: center;
        p {
            text-align: center;
        }
    }

    .contact-form-container {
        width: 100%;
        margin-top: 40px;
    }

    .footer-nav-container {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        nav {
            margin-top: 40px;
            li {
                margin: 20px;
            }
        }
    }
}

@media (max-width: 480px) {

    section {
        padding: 30px 0;
    }

    h2 {
        text-align: center;
    }

    .header-link-container {
        margin-top: 0;
        display: flex;
        justify-content: center;
        text-align: center;
    }

    .header-img-container {
        margin-top: 20px;
        width: 75%;
    }

    .header-about-text {
        h3 {
            text-align: center;
        }
        h1 {
            margin: 5px;
        }
        h4 {
            margin-top: 10px;
        }
    }

    .header-button-container {
        justify-content: center;
        margin-top: 20px;
    }

    .main-nav ul > li + li {
        margin-left: 20px;
    }

    .about-me-text {
        text-align: center;
    }

    .project-text h3 {
        margin-top: 20px;
    }
    
    .project-container {
        margin: 70px 0;
        justify-content: center;
        align-items: center;    
        .text-right {
            margin: 0;
            text-align: center;
        }
        .text-left {
            margin: 0;
            text-align: center;
        }
    }  
 
    .link-container-right {
        display: flex;
        justify-content: center;
        .link-right {
            margin-left: 0;
        }
    }

    .link-container-left {
        display: flex;
        justify-content: center;
        .link-left {
            margin-right: 0;
        }
    }

    .link {
        margin: 40px 25px;
    }

    .footer-nav-container {
        nav {
            li {
                margin: 0;
            }
        }
    }
}

@media (max-width: 380px) {

    .about-me-button-container {
        justify-content: center;
    }

    .footer-nav li a {
        letter-spacing: 1px;
        padding: 0 5px;
    }

}