@media (max-width: 870px) {
    
    .footer-container {
        flex-direction: column;
    }

    .footer-nav-container {
        order: 1;
        margin-top: 25px;
    }   

    .social-icons-container { 
        i {
            margin: 20px;
        }
    }
}

/* Landscape phone to portrait tablet */
@media (max-width: 768px) {

    /* Portfolio 
    -------------------*/
        
    .project-container {
        flex-direction: column;
        margin: 75px 0;
        .project-image-container {
            width: 100% !important;
        }

        .project-text {
            width: 100% !important;
            margin: 15px 10px !important;
            h3 {
                margin-top: 15px;
            }
            p {
                margin-bottom: 15px;
            }
        }

        .text-right {
            margin-left: 0 !important;
            text-align: center;
        }

        .text-left {
            margin-right: 0 !important;
            text-align: center;
        }
    }  
}

/* Landscape phones and down */
@media (max-width: 640px) {

    .header-mobile-container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
    }

    .header-container {
        flex-direction: column;
    }

    .mobile-nav {
        display: block !important;
    }

    .main-nav {
        display: flex;
        justify-content: center;
        width: 100%;
        display: none;
    }

    .main-nav ul {
        margin-top: 10px !important;
        position: absolute;
    }

    .main-nav li a {
        // font-size: calc(.52rem + .52vw) !important;
        margin-left: 5px !important;
    }

    .about-me-container {
        flex-direction: column;
        justify-content: center;
    }

    .about-me-text-container {
        width: 100% !important;
    }

    .about-me-text {
        padding-right: 0 !important;
        h1 {
            margin-top: 39px !important;
            text-align: center;
        }
        p {
            margin: 30px 0;
        }
  
        .about-me-button {
            margin-top: 30px;
            align-items: right;
        }
    }

    .about-me-button-container {
        width: 100%;
        display: flex;
        justify-content: right;
    }

    .about-me-img-container {
        width: 50% !important;
        margin-top: 100px;
    }
    
    .footer-nav-container {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        nav {
            margin-top: 40px;
            li {
                margin: 20px !important;
            }
        }
    }

}

@media (max-width: 480px) {

    .about-me-img-container {
        width: 75% !important;
        margin-top: 100px;
    }

    .footer-nav-container {
        nav {
            li {
                margin: 0 !important;
            }
        }
    }

}

@media (max-width: 380px) {

    .about-me-button-container {
        justify-content: center;
    }

    .footer-nav li a {
        letter-spacing: 1px !important;
        padding: 0 5px !important;
    }

}