@media (max-width: 1000px) {
    .wrapper {  
        width: 95%;
    }
}

@media (max-width: 860px) {

    html {
        font-size: 55%;
    }

    .project {
        &__weather-sense-logo {
            width: 250px;
        }
        &__guitar-chords-logo {
            width: 250px;
        }
        &__mixologie-logo {
            width:  200px;
            margin-bottom: -5px;
        }
        &__trivia-time-logo {
            width: 100px;
            margin-bottom: 10px;
        }
    }
}

@media (max-width: 768px) {

    header {
        &::after {
            box-shadow: inset 100px 50px 40px 0px rgb(255, 255, 255), 
            inset -100px -100px 50px 0px rgb(255, 255, 255), 
            inset 100px -5px 100px 0px white, 
            inset -100px 200px 100px 0px white;
        }
    }

    .header {
        &__profile {
            flex-direction: column;
            margin-top: 100px;
                &:before {
                    width: 150%;
                    height: 80%;
                    top: 0%;
                    left: -10%;
                    background: linear-gradient(to top, rgba(114, 114, 114, 0.13), #c7181800);
                }
            }
        
        &__img {
            order: 2;
            margin-top: 35px;
        }
        &__text {
            width: 90%;
            text-align: center;
            margin: 0 auto;
        }
        &__resume {
            margin-bottom: 60px;
        }
        &__img {
            width: 50%;
            margin: 0 auto;
            margin-top: 55px;
        }
    }
    
    
    .project {
        flex-direction: column;
        align-items: center;
        width: 100%;
        &__logo {
            text-align: center;
            margin-top: 15px;
        }
        h4 {
            text-align: center;
        }
        &__img {
            order: 3;
            width: 90%;
            margin-top: 20px;
            img {
                width: 100%;
            }   
        }
        &__text {
            width: 85%;
            text-align: center;     
        }
        &__text-right, &__text-left {
            &:before {
                width: 120%;
                height: 80%;
                right: 0%;
                left: -10%;
                background: linear-gradient(to bottom, rgba(114, 114, 114, 0.082), #00000000);
            }
        }
        &__links {
            margin: 25px 0;
        }
    }

    .footer {
        &__nav-container {
            width: 100%;
            justify-content: space-around;
            margin-top: 25px;
        }
        &__link--active {
            bottom: 25px;
        }
    }
}

@media (max-width: 640px) {
    
    .header {
        position: relative;
        flex-direction: column;
        padding-top: 0;
        &__top {
            flex-direction: column;
        }
        &__mobile {
            display: flex;
            justify-content: space-between;
            align-items: center;
            width: 100%;
        }
        &__mobile-icon-container {
            display: block;
        }
        &__nav {
            display: none;
            margin-top: 25px;
        }
        &__list {
            justify-content: center;
        }
        &__link {
            margin: 0;
        }
        &__link--active {
            bottom: 15px;
        }
        &__icons {
            display: none;
        }
        &__social-icons-mobile {
            display: flex;
            align-items: center;
            justify-content: center;
        }
        &__titles {
            margin-bottom: 35px;
        }
        &__text {
            width: 95%;
            h1 {
                margin-top: 0;
            }
        }
    }

    .nav__link {
        margin: 10px;
    }

    .contact {
        flex-direction: column; 
        &__text {
            width: 90%;
        }
        &__form-container {
            width: 100%;
            margin-top: 50px;
        }
    }
}

@media (max-width: 540px) {
    .background {
        &::after {
            bottom: 5%;
        }
    }

    .wrapper {
        width: 100%;
    }

    header {
        &::after {
            box-shadow: inset 50px 50px 40px 0px rgb(255, 255, 255), 
            inset -50px -100px 50px 0px rgb(255, 255, 255), 
            inset 50px -5px 100px 0px white, 
            inset -50px 200px 100px 0px white;
        }
    }

    .header {
        &__top {
            padding: 0 10px;
        }
        &__list {
            flex-direction: column;
            text-align: center;
        }
        &__link {
            margin: 10px 0;
        }
    }

    .arrow-link {
        display: none;
    }

  .project {
      &__img {
          width: 100%;
      }
  }

    .footer {
        &__nav-container {
            margin: 0;
        }
        &__list {
            flex-direction: column;
            align-items: center;
            justify-content: center;
            margin-bottom: 15px;
        }
        &__link {
          margin: 10px 0;
        }
   
        &__link--active {
            bottom: 15px;
        }
        &__logo {
          order: 2;
        }
        &__social {
            flex-direction: column;
        }
        &__icons {
          margin-bottom: 15px;
            a {
                margin: 25px;
            }
        }
      }
}

@media (max-width: 475px) {

    html {
        font-size: 50%;
    }
}
