@media (max-width: 1000px) {
    .wrapper {  
        width: 95%;
    }
}

@media (max-width: 860px) {

    html {
        font-size: 55%;
    }

    .project {
        &__weather-sense-logo {
            width: 250px;
        }
        &__guitar-chords-logo {
            width: 250px;
        }
        &__mixologie-logo {
            width:  200px;
            margin-bottom: -5px;
        }
        &__trivia-time-logo {
            width: 100px;
            margin-bottom: 10px;
        }
    }
}

@media (max-width: 768px) {

    header {
        &::after {
            box-shadow: inset 100px 50px 40px 0px rgb(255, 255, 255), 
            inset -100px -100px 50px 0px rgb(255, 255, 255), 
            inset 100px -5px 100px 0px white, 
            inset -100px 200px 100px 0px white;
        }
    }

    .header {
        &__profile {
            flex-direction: column;
            margin-top: 100px;
        }
        &__img {
            order: 2;
            margin-top: 35px;
        }
        &__text {
            width: 90%;
            text-align: center;
            margin: 0 auto;
        }
        &__resume {
            margin-bottom: 60px;
        }
        &__img {
            width: 50%;
            margin: 0 auto;
            margin-top: 55px;
        }
    }
    
    .project {
        flex-direction: column;
        align-items: center;
        width: 100%;
        &__logo {
            text-align: center;
        }
        h4 {
            text-align: center;
        }
        &__img {
            order: 3;
            width: 90%;
            margin-top: 20px;
            img {
                width: 100%;
                margin: 10px 0;
            }   
        }
        &__text {
            width: 85%;
            text-align: center;     
        }
       
        &__links {
            margin: 25px 0;
        }
    }

    .footer {
        &__nav-container {
            width: 100%;
            justify-content: space-around;
            margin-top: 25px;
        }
        &__icons {
            width: 20%;
            justify-content: space-between;
            i {
                margin-left: 0;
            }
        }
    }
}

@media (max-width: 640px) {
    
    .header {
        position: relative;
        flex-direction: column;
        padding-top: 0;
        &__mobile {
            display: flex;
            justify-content: space-between;
            align-items: center;
            width: 100%;
        }
        &__mobile-icon-container {
            display: block;
            padding-top: 8px;
        }
        &__nav {
            display: none;
            width: 80%;
            justify-content: center;
            position: absolute;
            top: 100%;
        }
        &__list {
            width: 80%;
            justify-content: space-between;
        }
        &__link {
            margin: 0;
        }
        &__text {
            width: 100%;
        }
    }

    .contact {
        flex-direction: column; 
        &__text {
            width: 90%;
        }
        &__form-container {
            width: 100%;
            margin-top: 50px;
        }
    }
}

@media (max-width: 540px) {
    header {
        &::after {
            box-shadow: inset 50px 50px 40px 0px rgb(255, 255, 255), 
            inset -50px -100px 50px 0px rgb(255, 255, 255), 
            inset 50px -5px 100px 0px white, 
            inset -50px 200px 100px 0px white;
        }
    }

    .header {
        &__list {
            width: 100%;
        }
        &__link {
            margin: 0;
        }
        &__img {
            width: 60%;
        }
    }

    .about {
        padding-top: 25px;
    }

    .footer {
        &__icons {
            width: 30%;
        }
    }

   
}

@media (max-width: 475px) {

    html {
        font-size: 50%;
    }

  .footer {
      &__nav-container {
          margin-top: 0;
      }
      &__list {
          flex-direction: column;
          align-items: center;
      }
      &__link {
        margin: 10px 0;
      }
      &__social {
          margin-top: 25px;
      }
      &__icons {
        width: 40%;
    }
  }

}
