@media (max-width: 870px) {
  .project-container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin: 75px 0;
  }
  .project-container .project-image-container {
    width: 100% !important;
  }
  .project-container .project-text {
    width: 100% !important;
    margin: 15px 10px !important;
  }
  .project-container .project-text h3 {
    margin-top: 15px;
  }
  .project-container .project-text p {
    margin-bottom: 15px;
  }
  .project-container .text-right {
    margin-left: 0 !important;
    text-align: center;
  }
  .project-container .text-left {
    margin-right: 0 !important;
    text-align: center;
  }
  .footer-container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .footer-nav-container {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
    margin-top: 25px;
  }
  .social-icons-container i {
    margin: 20px;
  }
}

/* Landscape phone to portrait tablet */
@media (max-width: 768px) {
  /* Portfolio 
    -------------------*/
  header {
    padding-bottom: 40px !important;
  }
  .header-profile {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .header-link-container {
    margin-top: 20px !important;
    text-align: right;
  }
  .header-about-text {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 100%;
    margin: 0 !important;
  }
  .header-about-text h1 {
    text-align: center;
  }
  .header-about-text h4 {
    margin-top: 5px !important;
    text-align: center;
  }
  .header-button-container {
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
    -webkit-box-pack: end !important;
        -ms-flex-pack: end !important;
            justify-content: flex-end !important;
    margin-top: 30px !important;
  }
  .header-img-container {
    margin-top: 50px;
    width: 75% !important;
  }
}

/* Landscape phones and down */
@media (max-width: 640px) {
  header {
    background-position: right;
  }
  .header-mobile-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100%;
  }
  .header-link-container {
    margin-top: 10px !important;
  }
  .mobile-nav {
    display: block;
  }
  .main-nav {
    display: none;
  }
  .main-nav ul {
    margin-top: 10px !important;
    position: absolute;
  }
  .main-nav li a {
    margin-left: 5px !important;
  }
  .about-me-container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .about-me-text-container {
    width: 100% !important;
  }
  .about-me-text {
    margin-bottom: 10px !important;
    padding-right: 0 !important;
  }
  .about-me-text p {
    margin: 30px 0;
  }
  .about-me-button-container {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .contact-section-container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .contact-text-container {
    width: 100% !important;
    margin: 20px 0 !important;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .contact-text-container p {
    text-align: center;
  }
  .contact-form-container {
    width: 100% !important;
    margin-top: 40px;
  }
  .footer-nav-container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .footer-nav-container nav {
    margin-top: 40px;
  }
  .footer-nav-container nav li {
    margin: 20px !important;
  }
}

@media (max-width: 480px) {
  section {
    padding: 30px 0 !important;
  }
  h2 {
    text-align: center;
  }
  .header-link-container {
    margin-top: 0 !important;
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
    -webkit-box-pack: center !important;
        -ms-flex-pack: center !important;
            justify-content: center !important;
    text-align: center !important;
  }
  .header-img-container {
    margin-top: 20px !important;
    width: 75% !important;
  }
  .header-about-text h3 {
    text-align: center;
  }
  .header-about-text h1 {
    margin: 5px !important;
  }
  .header-about-text h4 {
    margin-top: 10px !important;
  }
  .header-button-container {
    -webkit-box-pack: center !important;
        -ms-flex-pack: center !important;
            justify-content: center !important;
    margin-top: 20px !important;
  }
  .about-me-text {
    text-align: center;
  }
  .project-text h3 {
    margin-top: 20px !important;
  }
  .project-container {
    margin: 70px 0 !important;
    -webkit-box-pack: center !important;
        -ms-flex-pack: center !important;
            justify-content: center !important;
    -webkit-box-align: center !important;
        -ms-flex-align: center !important;
            align-items: center !important;
  }
  .project-container .text-right {
    margin: 0 !important;
    text-align: center !important;
  }
  .project-container .text-left {
    margin: 0 !important;
    text-align: center !important;
  }
  .link-container-right {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center !important;
        -ms-flex-pack: center !important;
            justify-content: center !important;
  }
  .link-container-right .link-right {
    margin-left: 0 !important;
  }
  .link-container-left {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center !important;
        -ms-flex-pack: center !important;
            justify-content: center !important;
  }
  .link-container-left .link-left {
    margin-right: 0 !important;
  }
  .link {
    margin: 40px 25px !important;
  }
  .footer-nav-container nav li {
    margin: 0 !important;
  }
}

@media (max-width: 380px) {
  .about-me-button-container {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .footer-nav li a {
    letter-spacing: 1px !important;
    padding: 0 5px !important;
  }
}
